---
Language: Cpp
ColumnLimit: 100
IndentWidth: 4
SortIncludes: Never
ContinuationIndentWidth: 8
DeriveLineEnding: true
AlignTrailingComments: true
MaxEmptyLinesToKeep: 1
UseCRLF: false
UseTab: Never
Standard: Auto
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
